[submodule "lib/datetime"]
	path = lib/datetime
	url = https://github.com/dongli/fortran-datetime.git
[submodule "lib/container"]
	path = lib/container
	url = https://github.com/dongli/fortran-container.git
[submodule "lib/fiona"]
	path = lib/fiona
	url = https://github.com/dongli/fiona.git
